@CHARSET "ISO-8859-1";

html, body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: white;
	background-color: rgb(0,0,153);
}

form {
	border: 1px #000000 solid;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li {
	float: left;
	margin-right: 16px;
}

.nav li a {
	font-weight: bold;
	text-decoration: none;
}

.nav li a:hover {
	text-decoration: underline;
}